html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.bottom-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

img {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
}

p {
    font-size: 25px;
    margin: 0;
    color: #1290b3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    text-align: center;
    user-select: none;
}

.hex-box {
    display: flex;
    width: 99%;
    justify-content: center;
    align-items: center;
}

input {
    margin-right: 15px;
    font-size: 25px;
    background-color: transparent !important;
    text-align: center;
}

i {
    font-size: 30px !important;
    margin-right: 15px;
}

i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.light-text {
    color: #fff;
}

.dark-text {
    color: rgb(18, 18, 18);
}

.right-nav {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.right-nav p {
    cursor: pointer;
}

.right-nav p:hover {
    color: #ff6347;
    transform: scale(1.1);
}

.display-none {
    display: none;
}

.box {
    display: flex;
}

.history-element {
    margin: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.history-element-highlighted {
    margin: 0px 10px;
    border: 2px solid #ff6347;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 5px 10px;
}

.history-element:hover {
    border: 1px solid #ff6347;
    transform: scale(1.1);
}

@media only screen and (max-width: 950px) {
    .right-nav {
        display: none;
    }
    .top-header {
        justify-content: center;
        padding-bottom: 0px 10px;
    }
    #save-icon {
        display: none;
    }
}